@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Reglarik';
    src: url('../fonts/Reglarik/Reglarik-j99mj.otf');
}

@font-face {
    font-family: 'Youbee';
    src: url(../fonts/Youbee/youbee-bolditalic.ttf);
}

html, body {
    height: 100%;
    
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #8DBEB9;
    border-radius: 6px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #8DBEB9;
}

.introduction {
    background-color: #fafafa;
}

.navbar {
    position: absolute;
    z-index: 10;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand {
    margin-right: 75px;
}

.navbar-nav {
    display: flex;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: bold;
}

.navbar li {
    display: inline-block;
    padding: 10px;
}

.navbar-nav li a {
    text-decoration: none;
    color: black;
    display: block;
    transition: color 0.3s;
}

.navbar-nav li a:hover {
    color: #a4bebb;
}

.navbar-nav li a.nav-link.active {
    color: #a4bebb; 
}

.navbar-nav .cta-button {
    color: #a4bebb; 
    border: 2px solid #a4bebb; 
    border-radius: 50px; 
    
    text-decoration: none; 
    display: inline-block; 
    transition: background-color 0.3s ease; 
    background-color: transparent;
}
  
.navbar-nav .cta-button:hover {
    background-color: #a4bebb; 
    color: white; 
}

.introduction .container-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 

}

.opening-txt {
    font-size: 75px;
    font-weight: bold; 
    font-family: 'Reglarik';
    color: #8DBEB9;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 7px; 
    margin-top: 20px; 
  }
  
.image-gallery img {
    width: 100%; 
    height: 450px;
    object-fit: cover; 
  }

.introduction .container {
    max-width: 1080px;
    margin-top: 30px;
    padding: 0 15px;
}

.introduction-title {
    font-size: 36px;
    font-family: 'Youbee';
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.introduction-content {
    font-family: 'Montserrat';
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
}

.button-link {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: bold;
    padding: 10px 20px; 
    background-color: #a4bebb; 
    color: white; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 50px; 
    border: none;
    margin-top: 20px; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

.button-link:hover {
    background-color: #8DBEB9; 
}

.site-footer {
    background-color: #f7f7f7;
    font-family: 'Montserrat';
    
    position: absolute;
    width: 100%;
}

.footer-container {
    margin: 0 300px;
}

.site-footer h5 {
    font-weight: bold;
    border-color: #8DBEB9;
}

.footer-container ul {
    font-weight: bold;
}

.site-footer .contact-us {
    background-color: #a4bebb;
}

.contact-us footer {
    margin: 0px 300px;
}