@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Reglarik';
    src: url('../fonts/Reglarik/Reglarik-j99mj.otf');
}

@font-face {
    font-family: 'Youbee';
    src: url(../fonts/Youbee/youbee-bolditalic.ttf);
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #8DBEB9;
    border-radius: 6px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #8DBEB9;
}

.introduction {
    background-color: #fafafa;
}

.navbar {
    position: absolute;
    z-index: 10;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand {
    margin-right: 75px;
}

.navbar-nav {
    display: flex;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: bold;
}

.navbar li {
    display: inline-block;
    padding: 10px;
}

.navbar-nav li a {
    text-decoration: none;
    color: black;
    display: block;
    transition: color 0.3s;
}

.navbar-nav li a:hover {
    color: #a4bebb;
}

.navbar-nav li a.nav-link.active {
    color: #a4bebb; 
}

.navbar-nav .dropdown-item {
    color: black;
}

.navbar-nav .dropdown-item:hover {
    color: #8DBEB9;
}

.navbar-nav .cta-button {
    color: #a4bebb; 
    border: 2px solid #a4bebb; 
    border-radius: 50px; 
    text-decoration: none; 
    display: inline-block; 
    transition: background-color 0.3s ease; 
    background-color: transparent;
}
  
.navbar-nav .cta-button:hover {
    background-color: #a4bebb; 
    color: white; 
}

.introduction .container-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
}

.opening-txt {
    font-size: 75px;
    font-weight: bold; 
    font-family: 'Reglarik';
    color: #8DBEB9;
}

.events {
    background-color: #f7f7f7;
}

.event-featured img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.event-details {
    text-align: center;
    font-family: 'Montserrat';
    padding: 20px;
}

.btn-register {
    background-color: #a4bebb;
    border-radius: 50px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-register:hover {
    background-color: #8DBEB9;
}

.event-details h2 {
    font-family: 'Youbee';
    font-size: 36px;
}

.carousel-item img {
    height: 1000px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#eventCarousel {
    margin-bottom: 20px;
}
