@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Reglarik';
    src: url('../fonts/Reglarik/Reglarik-j99mj.otf');
}

@font-face {
    font-family: 'Youbee';
    src: url(../fonts/Youbee/youbee-bolditalic.ttf);
}

html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/test3.jpg');
    background-size: cover;
    background-position: center;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 100%;
}

.navbar {
    position: absolute;
    z-index: 10;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand {
    margin-right: 75px;
}

.navbar-nav {
    display: flex;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: bold;
}

.navbar li {
    display: inline-block;
    padding: 10px;
}

.navbar-nav li a {
    text-decoration: none;
    color: white;
    display: block;
    transition: color 0.3s;
}

.navbar-nav li a:hover {
    color: #a4bebb;
}

.navbar-nav li a.nav-link.active {
    color: #a4bebb; 
}

.navbar-nav .cta-button {
    color: #a4bebb; 
    border: 2px solid #a4bebb; 
    border-radius: 50px; 
    
    text-decoration: none; 
    display: inline-block; 
    transition: background-color 0.3s ease; 
    background-color: transparent;
}
  
.navbar-nav .cta-button:hover {
    background-color: #a4bebb; 
    color: white; 
}
  
.hero-txt {
    font-family: 'Reglarik';
    font-size: 50px;
    font-weight: bold;
    color: #a4bebb;
}

.hero-content .lead {
    font-family: 'Montserrat';
    color: white;
}

.hero-content .btn {
    font-family: 'Montserrat';
    font-weight: bold;
    color: black;
    border-radius: 50px;
    background-color: white;
}

.hero-content .btn:hover {
    border: 2px solid #a4bebb;
    background-color: #a4bebb;
    color: white;
}

/* ABOUT US */
.about-us-txt {
    font-family: 'Youbee';
    font-weight: bold;
}

.about-us .butterfly-img {
    background: none;
    width: 396.36px;
    height: 528,47px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.about-us .lead-one {
    font-family: 'Montserrat';
    font-size: medium;
}

.about-us .lead-two {
    font-family: 'Montserrat';
    font-size: medium;
}

.about-us .lead-three {
    font-family: 'Montserrat';
    font-size: medium;
}

.about-us .cta-button {
    margin-top: 15px;
}

.about-us button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: bold;
    border-radius: 50px;
}

.about-us .button-one {
    background-color: white;
    color: #7a9794;
    border-color: #7a9794;
    border-width: 4px;
    transition: border-color 0.3s ease ,color 0.3s ease;
}

.about-us .button-one:hover {
    color: #8DBEB9;
    border-color: #8DBEB9;
}

.about-us .button-two {
    background-color: #7a9794;
    color: white;
}

.about-us .button-two:hover {
    background-color: #8DBEB9;
    color: white;
}

/* SERVICES INFO*/
