@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Reglarik';
    src: url('../fonts/Reglarik/Reglarik-j99mj.otf');
}

@font-face {
    font-family: 'Youbee';
    src: url(../fonts/Youbee/youbee-bolditalic.ttf);
}

html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #8DBEB9;
    border-radius: 6px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #8DBEB9;
}

/* LANDING PAGE */

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/test3.jpg');
    background-size: cover;
    background-position: center;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 100%;
}

.navbar {
    position: absolute;
    z-index: 10;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand {
    margin-right: 75px;
}

.navbar-nav {
    display: flex;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: bold;
}

.navbar li {
    display: inline-block;
    padding: 10px;
}

.navbar-nav li a {
    text-decoration: none;
    color: white;
    display: block;
    transition: color 0.3s;
}

.navbar-nav li a:hover {
    color: #a4bebb;
}

.navbar-nav li a.nav-link.active {
    color: #a4bebb; 
}

.navbar-nav .cta-button {
    color: #a4bebb; 
    border: 2px solid #a4bebb; 
    border-radius: 50px; 
    
    text-decoration: none; 
    display: inline-block; 
    transition: background-color 0.3s ease; 
    background-color: transparent;
}
  
.navbar-nav .cta-button:hover {
    background-color: #a4bebb; 
    color: white; 
}
  
.hero-txt {
    font-family: 'Reglarik';
    font-size: 50px;
    font-weight: bold;
    color: #a4bebb;
}

.hero-content .lead {
    font-family: 'Montserrat';
    color: white;
}

.hero-content .btn {
    font-family: 'Montserrat';
    font-weight: bold;
    color: black;
    border-radius: 50px;
    background-color: white;
}

.hero-content .btn:hover {
    border: 2px solid #a4bebb;
    background-color: #a4bebb;
    color: white;
}

/* ABOUT US */
.about-us {
    background-color: #f7f7f7;
}
.about-us .about-us-banner {
    background-color: #a4bebb; 
    text-align: center;
    padding: 20px 0;
}

.about-us span {
    font-size: 50px;
    font-family: "Youbee";
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 5px; 
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding: 0 30px;
}

.about-us span:before,
.about-us span:after {
    content: '|';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff; 
    font-weight: bold;
    font-size: 24px; 
}

.about-us span:before {
    left: 0;
    transform: translateX(-150%) translateY(-50%); 
}

.about-us span:after {
    right: 0;
    transform: translateX(150%) translateY(-50%); 
}

.about-us-txt {
    font-family: 'Youbee';
    font-weight: bold;
}

.about-us .butterfly-img {
    background: none;
    width: 396.36px;
    height: 528,47px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.about-us .lead-one {
    font-family: 'Montserrat';
    font-size: medium;
}

.about-us .lead-two {
    font-family: 'Montserrat';
    font-size: medium;
}

.about-us .lead-three {
    font-family: 'Montserrat';
    font-size: medium;
}

.about-us .cta-button {
    margin-top: 15px;
}

.about-us button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: bold;
    border-radius: 50px;
}

.about-us .button-one {
    background-color: white;
    color: #a4bebb;
    border-color: #a4bebb;
    border-width: 4px;
    transition: border-color 0.3s ease ,color 0.3s ease;
}

.about-us .button-one:hover {
    color: #8DBEB9;
    border-color: #8DBEB9;
}

.about-us .button-two {
    background-color: #a4bebb;
    color: white;
}

.about-us .button-two:hover {
    background-color: #8DBEB9;
    color: white;
}

/* SERVICES INFO*/
.services {
    background-color: #f7f7f7;
}

.services .services-banner {
    background-color: #a4bebb; 
    text-align: center;
    padding: 20px 0;
}

.services .services-text {
    font-size: 50px;
    font-family: "Youbee";
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 5px; 
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding: 0 30px;
}

.services .services-text:before,
.services .services-text:after {
    content: '|';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff; 
    font-weight: bold;
    font-size: 24px; 
}

.services .services-text:before {
    left: 0;
    transform: translateX(-150%) translateY(-50%); 
}

.services .services-text:after {
    right: 0;
    transform: translateX(150%) translateY(-50%); 
}

.services .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
  
.service-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 25px;
}
  
.service-item:nth-child(even) .service-info {
    order: 2; 
}
  
.service-item:nth-child(odd) .service-info {
    order: 1; 
}
  
.service-item:nth-child(even) .service-image {
    order: 1; 
}
  
.service-item:nth-child(odd) .service-image {
    order: 2;
}

.service-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 25px;
}
  
.service-image img {
    max-width: 600px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.services .service-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-info h2,
.service-info p,
.service-info button {
    margin-bottom: 1rem; /* Spacing between each element */
}

.service-info h2 {
    font-family: 'Youbee';
    font-weight: bold;
}

.service-info p {
    font-family: 'Montserrat';
}

.service-info button {
    background-color: #a4bebb;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: bold;
    border-radius: 50px;
    border: none;
    transition: background-color 0.3s ease;
}

.service-info button:hover {
    background-color: #8DBEB9;
    color: white;
}

/* TESIMONIALS */
.testimonials-section {
    position: relative;
    text-align: center;
}

.testimonials-background {
    /* Set the size of your background image container */
    width: 100%;
    height: 400px; /* Adjust height as needed */
    position: absolute;
    overflow: hidden;
    z-index: 1;
}

.testimonials-background img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will cover the entire area without stretching */
}

.testimonials-container {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 100px; /* Adjust as needed to place it over the background image */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Optional shadow */
    border-radius: 10px; /* Optional rounded corners */
    display: inline-block;
    z-index: 2;
}

.testimonial p {
    color: #333333;
    font-size: 1.1em;
    font-family: 'Montserrat';
}

.testimonial cite {
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #666666;
    font-family: 'Montserrat';
}

.testimonials-section button {
    background-color: #a4bebb;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: bold;
    border-radius: 50px;
    border: none;
}

.testimonials-section button:hover {
    background-color: #8DBEB9;
    color: white;
}

.site-footer {
    background-color: #f7f7f7;
    font-family: 'Montserrat';
    margin-top: 100px;
    position: absolute;
    width: 100%;
}

.footer-container {
    margin: 0 300px;
}

.site-footer h5 {
    font-weight: bold;
    border-color: #8DBEB9;
}

.footer-container ul {
    font-weight: bold;
}

.site-footer .contact-us {
    background-color: #a4bebb;
}

.contact-us footer {
    margin: 0px 300px;
}

/* ABOUT-US PAGE */